body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}
.product-table {
    border-collapse: collapse;
}
.product-table th, td{
    border: 1px solid black;
    padding: 5px;
}
.search-bar {
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
}